<h2>Cadastro de agendamento</h2>

<form class="row g-3 needs-validation" novalidate>
  <!--CPF-->
  <div class="col-md-4">
    <label for="agendamentoCpf" class="form-label">CPF do paciente:</label>
    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="agendamento.cpf" placeholder="XXX.XXX.XXX-XX" required id="agendamentoCPF">
    <div class="invalid-feedback">
      É obrigatório informar o CPF do paciente.
    </div>-->
    </div>

  <!--Hospital-->
  <div class="col-md-4">
    <label for="agendamentoHospital" class="form-label">Selecione o hospital:</label>
    <select id="agendamentoHospital">
    </select>
  </div>

  <!--Especialidade-->
  <div class="col-md-4">
    <label for="agendamentoEspecialidade" class="form-label">Selecione a especialidade:</label>
    <select id="agendamentoEspecialidade">
      <!--<option *ngFor="let especialidade of especialidades" value= {{especialidade.id}}>
        {{especialidade.nome}}
      </option>-->
    </select>
    </div>

  <!--Médico-->
  <div class="col-md-4">
    <label for="agendamentoProfissional" class="form-label">Selecione o profissional:</label>
    <select id="agendamentoProfissional">
      <option *ngFor="let profissional of profissionais" value= {{profissional.id}}>
        {{profissional.nome}}
      </option>
    </select>
    </div>

    <!--Data-->
    <div class="col-md-4">
      <label for="agendamentoData" class="form-label">Selecione a data para agendamento:</label>
      <input type="datetime-local" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="agendamento.dataAgendamento" required id="agendamentoData">
      <div class="invalid-feedback">
        É obrigatório informar a data para agendamento.
      </div>
    </div>

  <!--Enviar-->
  <div class="col-12">
    <button class="btn btn-success mt-3" type="submit" (click)="editarAgendamento()">Salvar</button>
  </div>
</form>
