<h2>Beneficiários</h2>
<hr />

<div class="mx-auto form-inline d-flex justify-content-around">
    <button (click)="adicionarProfissional();" class="btn btn-primary ml-2">
        Criar novo beneficiário
    </button>
    <div>
        <input
            type="text"
            class="form-control mr-2"
            placeholder="Buscar beneficiário"
            [(ngModel)]="filtroLista"
            >
    </div>
</div>
<table class="table table-striped table-hover mt-3">
    <thead>
       <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col">N.Carteirinha</th>
        <th scope="col">Email</th>
        <th scope="col">Opções</th>
       </tr>
    </thead>

    <tbody *ngIf="beneficiarios && beneficiarios.length">
        <tr *ngFor="let beneficiario of beneficiariosFiltrados">
            <td colspan="1">{{beneficiario.nome}}</td>
            <td colspan="1">{{beneficiario.cpf}}</td>
            <td colspan="1">{{beneficiario.telefone}}</td>
            <td colspan="1">{{beneficiario.endereco}}</td>
            <td colspan="1">{{beneficiario.numeroCarteirinha}}</td>
            <td colspan="1">{{beneficiario.email}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm mr-1" (click)="editarBeneficiario(beneficiario.idBeneficiario)">Editar</button>
              <button type="button" class="btn btn-danger btn-sm ms-1" (click)="excluirBeneficiario(beneficiario.idBeneficiario)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
