<form>
  <h1>Cadastro de especialidades</h1>
  <div class="container">

    <div class="col-md-4">
      <label for="nomeEspecialidade" class="col-sm-4 col-form-label">Especialidade: </label>
        <input type="text" class="form-control" id="nomeEspecialidade" [(ngModel)]="especialidade.nome" name="nomeEspecialidade">
    </div>

    <div class="col-md-4">
    <label for="descricaoEspecialidade" class="col-sm-4 col-form-label">Descrição: </label>
    <input type="text" class="form-control" id="descricaoEspecialidade" [(ngModel)]="especialidade.descricao" name="descricaoEspecialidade">
     </div>
     <button class="btn btn-success col-mr-4" type="submit" (click)="salvarEspecialidade()">Salvar</button>
    </div>
  </form>
