<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">

    <span class="material-icons icon-white">
      monitor_heart
    </span>
    <a class="navbar-brand ml-1" href="#">agendamento</a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="false">Beneficiários</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="beneficiariocadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" routerLink="beneficiariolista">Ver beneficiários</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="false">Hospitais</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="hospitalcadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" routerLink="hospitallista">Ver hospitais</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="false">Especialidades</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="">Cadastrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="false">Profissionais</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="profissionalcadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" routerLink="profissionallista">Ver profissionais</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="false">Agendamento</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="agendamentocadastrar">Cadastrar agendamento</a></li>
              <li><a class="dropdown-item" routerLink="agendamentoconsultar">Ver agendamentos</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
  </nav>
