<form class="form-cadastro">
  <h1>Cadastro de especialidades</h1>
  <div class=" form-inline  ">

    <div class="form-group">
      <label for="nomeEspecialidade" class="col-12 col-form-label">Especialidade: </label>
      <div class = "col-12">
        <input type="text" class="form-control" id="nomeEspecialidade" [(ngModel)]="especialidade.nome" name="nomeEspecialidade">
      </div>
    </div>

    <div class="form-group">
      <label for="descricaoEspecialidade" class="col-12 col-form-label">Descrição: </label>
      <div class = "col-12">
        <input type="text" class="form-control" id="descricaoEspecialidade" [(ngModel)]="especialidade.descricao" name="descricaoEspecialidade">
      </div>
    </div>
    <div class="form-group">
      <div class = "col-10">
       <button class="btn btn-primary" type="submit" (click)="adicionarEspecialidade()">Salvar</button>
      </div>
    </div>

  </div>
  </form>

  <div class="form-inline mb-2 ml-4">
    <div class="form-grou br-2">
        <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista" >
    </div>
  </div>

<table class= "table table-striped table-hover mt-3">
    <thead>
       <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Opções</th>
       </tr>
    </thead>
    <tbody *ngIf="especialidadeLista && especialidadeLista.length">
        <tr *ngFor="let especialidade of especialidadeFiltrados">
            <td colspan="1">{{especialidade.nome}}</td>
            <td colspan="1">{{especialidade.descricao}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm mr-1" (click)="editarEspecialidade(especialidade.idEspecialidade);">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ms-1" (click)="removerEspecialidade(especialidade.idEspecialidade);">Excluir</button>
            </td>
        </tr>
    </tbody>
