<form>
  <h1>Cadastrar hospitais</h1>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nomeHospital"
        >Nome do hospital</label
      >
        <input
          type="text"
          class="form-control"
          id="nomeHospital"
          [(ngModel)]="hospital.nome"
          name="nomeHospital"
          placeholder="Hospital Albert Einstein"
        />
    </div>
      <div class="form-group col-md-6">
        <label for="CNPJ">CNPJ</label>
          <input
            type="text"
            class="form-control"
            id="CNPJ"
            [(ngModel)]="hospital.cnpj"
            name="CNPJ"
            placeholder="00.000.111/0001-00"
          />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="endereco">Endereço</label>
        <input
          type="text"
          class="form-control"
          id="endereco"
          [(ngModel)]="hospital.endereco"
          name="endereco"
          placeholder="Av. Paulista, 1500"
        />
    </div>
    <div class="form-group col-md-6">
      <label for="telefone">Telefone</label>
        <input
          type="text"
          class="form-control"
          id="telefone"
          [(ngModel)]="hospital.telefone"
          name="telefone"
          placeholder="9999-9999"
        />
    </div>
  </div>

  <div class="form-group">
      <label for="CNES">CNES</label>
        <input
          type="text"
          class="form-control"
          id="CNES"
          [(ngModel)]="hospital.cnes"
          name="CNES"
          placeholder="001.001.001"
        />
  </div>
  <div class="btn-container">
    <button type="submit" class="btn btn-primary" (click)="salvarHospital()">Cadastrar</button>
  </div>
</form>
