<h1 class="mb-5">Cadastro de agendamento</h1>

<form class="form-group" novalidate>
  <div class="form-row mb-3">
    <!--CPF-->
    <div class="col-md-6">
      <label for="agendamentoNome" class="form-label">Selecione o paciente:</label>
      <select id="agendamentoNome" class="form-control">
        <option *ngFor="let beneficiario of beneficiarios" value= {{beneficiario.idBeneficiario}}>
          {{beneficiario.nome}}
        </option>
      </select>
      </div>

  <!--Hospital-->
    <div class="col-md-6 mb-3">
      <label for="agendamentoHospital" class="form-label">Selecione o hospital:</label>
      <select class="form-control" id="agendamentoHospital">
        <option *ngFor="let hospital of hospitais" value= {{hospitais.idHospital}}>
          {{hospital.nome}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-row mb-3">
    <div class="col-md-6">
      <label for="agendamentoEspecialidade" class="form-label">Selecione a especialidade:</label>
      <select class="form-control" id="agendamentoEspecialidade">
        <option *ngFor="let especialidade of especialidades" value= {{especialidade.idEspecialidade}}>
          {{especialidade.nome}}
        </option>
      </select>
      </div>
  
    <!--Médico-->
    <div class="col-md-6">
      <label for="agendamentoProfissional" class="form-label">Selecione o profissional:</label>
      <select class="form-control" id="agendamentoProfissional">
        <option *ngFor="let profissional of profissionais" value= {{profissional.idProfissional}}>
          {{profissional.nome}}
        </option>
      </select>
    </div>
  </div>
  <!--Especialidade-->

  <!--Data-->
  <div class="col-md-6 p-0">
    <label for="agendamentoData" class="form-label">Selecione a data para agendamento:</label>
    <input type="datetime-local" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="agendamento.dataAgendamento" required id="agendamentoData">
    <div class="invalid-feedback">
      É obrigatório informar a data para agendamento.
    </div>
  </div>

  <!--Enviar-->
  <div class="btn-container">
    <button class="btn btn-success mt-3" type="submit" (click)="salvarAgendamento()">Salvar</button>
  </div>
</form>
