<h2>Hospitais</h2>
<hr />

<div  class="form-inline mb-2">
    <div class="form-grou br-2">
        <label class="mr-2"></label>
        <input
            type="text"
            class="form-control mr-2"
            placeholder="buscar"
            >
    </div>
</div>

<button (click)="adicionarHospital();" class="input-group-text">
    <i class="material-icons">Cadastrar novo hospital</i>
</button>

<table class="table table-striped">
    <thead class="thead-dark">
       <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>CNES</th>
        <th>Ativo</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hospital of hospitalLista">
            <td>{{hospital.nome}}</td>
            <td>{{hospital.cnpj}}</td>
            <td>{{hospital.endereco}}</td>
            <td>{{hospital.telefone}}</td>
            <td>{{hospital.cnes}}</td>
            <td>{{hospital.ativo}}</td>
            <td>
                <button type="button" class="btn btn-secondary btn-sm mr-1" (click)="detalharHospital(hospital.idHospital);">Ver</button>
                <button type="button" class="btn btn-primary btn-sm mr-1" (click)="editarHospital(hospital.idHospital);">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ms-1" (click)="removerHospital(hospital.idHospital);">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
