<h2>Editar  Beneficiários</h2>
<hr>

<form class="row g-3 needs-validation justify-content-center align-items-center" novalidate>
  <div class="col-md-4">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.nome" value={{beneficiario.nome}} required id="nome">
    <div class="invalid-feedback">
      Nome é obrigatorio!
    </div>
  </div>
  <div class="col-md-3">
    <label for="cpf" class="form-label">CPF</label>
    <input type="text" class="form-control " id="cpf" [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.cpf"  value="{{beneficiario.cpf}}" required>
    <div class="invalid-feedback">
      CPF é obrigatório!
    </div>
  </div>
  <div class="col-md-5">
    <label for="endereco" class="form-label">Endereço</label>
    <input type="text" class="form-control " id="endereco" [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.endereco" value={{beneficiario.endereco}} required >
    <div class="invalid-feedback">
      Endereço é obrigatório!
    </div>
  </div>
  <div class="col-md-4">
    <label for="email" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="email" class="form-control" value={{beneficiario.email}} id="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.email" aria-describedby="inputGroupPrepend" placeholder="email@email.com" required>
      <div class="invalid-feedback">
        Email é obrigatório!
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <label for="cpf" class="form-label">Senha</label>
    <input type="password" class="form-control " id="senha" [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.senha"  placeholder="Senha" required>
    <div class="invalid-feedback">
      Senha é obrigatório!
    </div>
  </div>

  <div class="col-md-3">
    <label for="numeroCarteirinha" class="form-label">Nº Carteirinha</label>
    <input type="text" class="form-control" value={{beneficiario.numeroCarteirinha}} id="numeroCarteirinha" [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.numeroCarteirinha" placeholder="0000.0000.0000.0000"  required>
    <div class="invalid-feedback">
      Nº Carteirinha é obrigatório!
    </div>
  </div>
  <div class="col-md-2">
    <label for="telefone" class="form-label">Telefone</label>
    <input type="text" class="form-control " id="telefone" value={{beneficiario.telefone}} [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.telefone" placeholder="(11)11111-1111" required>
    <div class="invalid-feedback">
      Telefone é obrigatório!
    </div>
  </div>
  <div class="form-check mt-4">
    <input class="form-check-input" type="checkbox" value={{beneficiario.ativo}} [ngModelOptions]="{standalone: true}" [(ngModel)]="beneficiario.ativo" id="ativo">
    <label class="form-check-label" for="ativo">
      Ativo
    </label>
  </div>
  <div class="col-12 justify-content-center">
    <button class="btn btn-success mt-3  " type="submit"
      (click)="editarBeneficiario()"
      [disabled]="!beneficiario.nome || !beneficiario.cpf || !beneficiario.endereco || !beneficiario.email || !beneficiario.senha || !beneficiario.numeroCarteirinha || !beneficiario.telefone"
    >Atualizar</button>
  </div>
</form>
