<h1>Cadastro de beneficiário</h1> 
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nomeBeneficiario">Nome completo</label>
      <input type="text" class="form-control" id="nomeBeneficiario" [(ngModel)]="beneficiario.nome" placeholder="João Souza">
    </div>
    <div class="form-group col-md-6">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" [(ngModel)]="beneficiario.cpf" placeholder="000.000.000-00">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="endereco">Endereço</label>
      <input type="text" class="form-control" id="endereco" [(ngModel)]="beneficiario.endereco" placeholder="Avenida Paulista, 1500">
    </div>
    <div class="form-group col-md-6">
      <label for="telefone">Telefone</label>
      <input type="tel" class="form-control" id="telefone" [(ngModel)]="beneficiario.telefone" placeholder="9999-9999">
    </div>
  </div>
  <div class="form-group">
    <label for="numeroCarteirinha">Número da carteirinha</label>
    <input type="text" class="form-control" id="numeroCarteirinha" [(ngModel)]="beneficiario.numeroCarteirinha" placeholder="1234 1234 1234">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="beneficiario.email" placeholder="joao@hotmail.com">
    </div>
    <div class="form-group col-md-6">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" [(ngModel)]="beneficiario.senha" placeholder="Senha">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>