<form>
  <h1>Editar beneficiário</h1> 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nomeBeneficiario">Nome completo</label>
      <input
        type="text"
        class="form-control"
        id="nomeBeneficiario"
        [(ngModel)]="beneficiario.nome"
        name="nomeBeneficiario"
        value={{beneficiario.nome}}
        placeholder="João Souza"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="cpf">CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        [(ngModel)]="beneficiario.cpf"
        name="cpf"
        placeholder="000.000.000-00"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="endereco">Endereço</label>
      <input
        type="text"
        class="form-control"
        id="endereco"
        [(ngModel)]="beneficiario.endereco"
        name="endereco"
        placeholder="Avenida Paulista, 1500"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="telefone">Telefone</label>
      <input
        type="tel"
        class="form-control"
        id="telefone"
        [(ngModel)]="beneficiario.telefone"
        name="telefone"
        placeholder="9999-9999"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="numeroCarteirinha">Número da carteirinha</label>
    <input
      type="text"
      class="form-control"
      id="numeroCarteirinha"
      [(ngModel)]="beneficiario.numeroCarteirinha"
      name="numeroCarteirinha"
      placeholder="1111-2222-3333"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="beneficiario.email"
        name="email"
        placeholder="joao@hotmail.com"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="senha">Senha</label>
      <input
        type="password"
        class="form-control"
        id="senha"
        [(ngModel)]="beneficiario.senha"
        name="senha"
        placeholder="Senha"
      />
    </div>
  </div>
  <div class="btn-container">
    <button type="submit" class="btn btn-primary" (click)="editarBeneficiario()">Salvar</button>
  </div>
</form>

